<h1>#{{pokeId}}</h1>
<h2>{{pokeSpecieName}}</h2>

<div class="column left">
    <div *ngIf='pokeImg'>
        <img [src]="pokeImg.front_default" class="pokemon-img">
    </div>
    <ul class="list-stats">
        <p class="text-stats">Stats:</p>
        <div *ngFor='let stats of pokeStat'>
            <li class="item-stats-text">{{stats.stat.name}}</li>
            <li class="item-stats-value">{{stats.base_stat}}</li>
        </div>
    </ul>
</div>

<div class="column right">
    <div *ngFor="let pokeflavor of pokeFlavorTextEnt | slice:0:5; let first: first">
        <p *ngIf="pokeflavor.language.name === 'en' && first">
            {{pokeflavor.flavor_text}}
        </p>
    </div>
    <h4>Height:</h4>
    {{pokeHeight1}}'{{pokeHeight2}}"

    <h4>Weight:</h4>
    {{pokeWeight}} lbs

    <h4>Abilities:</h4>
    <ul class="abilities">
        <div *ngFor='let abi of pokeAbi'>
            <li *ngIf='!abi.is_hidden' class="ability">{{abi.ability.name}}</li>
        </div>
    </ul>

    <h4>Types:</h4>
    <ul class="types">
        <div *ngFor='let types of pokeType'>
            <li *ngIf='pokeType' id="{{types.type.name}}" class="type">{{types.type.name}}</li>
        </div>
    </ul>
</div>