@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    color: white;
}

section {
    background-color: #AD4141;
    height: 47.3%;
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 15%;
}

h3 {
    flex-direction: row;
    margin: 0 2% 3% 2%;
    cursor: pointer;
    
}