@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*  
* {
    box-sizing: border-box;
} */

cdk-virtual-scroll-viewport {
    height: 85%;
}

#scroll1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scroll1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

ul.table {
    list-style-type: none;
}

li.pokename{
    margin-top: -5px;
    text-align: center;
    margin-left: -30px;
    width: 210px;
    height: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    }

a {
    width: 100px;
    height: 100px;
    text-decoration:none
}
    
div.container {
    font-family: 'Source Sans Pro', sans-serif;
    background: #424242;
    float: left;
    padding: 30px;
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 3%;
}

div.pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Source Sans Pro', sans-serif;
}

a.page-number {
    margin: 10px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

.pagehl {
    color: white;
}
