@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

div.pokemon-navigation {
    background: white;
    padding: 10px;
    font-weight: bold;
    width: 8%;
    color: #AD4141;
    text-align: center;
    text-transform: capitalize;
}

div#previous {
    float: left;
    width: 40%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

div#next {
    float: right;
    width: 40%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

section.navigation-section{
    padding: 40px 0 40px 0;
}

section.info-section{
    text-align: center;
}

section.evolution-section{
    margin-top: -10px;
}