@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

div#previous {
    float: left;
}

div#next {
    float: right;
}

section {
    padding: 20px;
}