@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

div.container {
    font-family: 'Source Sans Pro', sans-serif;
    background: #424242;
    float: left;
    padding: 30px;
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 3%;
}

div.pokemon {
    width: 136%;
    margin: 0;
    margin-left: -30px;
    padding: 5px 3px;
    text-align: center;
}

p.pokename {
    margin: 0;
    padding: 0;
    margin-top: -10px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
}

div.img-container {
    width: 100%;
    height: 100px;
}

div.type-container {
    width: 100%;
    margin: 10%;
}

ul.list-type {
    list-style-type: none;
    padding: 0;
}

li.type {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    width: 25%;
    float: left; 
    border-radius: 10%;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bolder;
    color: white;
}

img.front {
    height: 50%;
    width: 50%;
}

img.front-null {
    margin-top: 20%;
    height: 15%;
    width: 15%;
}

/* Pokemon Types Styles */
#poison{
    background-color: purple;
}

#grass{
    background-color: green;
}

#fire{
    background-color: orangered;
}

#flying{
    background: -webkit-linear-gradient(bottom, grey, grey 50%, skyblue 50%, skyblue);
}

#water{
    background-color:#4592C4;
}

#bug{
    background-color:#729F3F;
}

#dragon{
    background: -webkit-linear-gradient(bottom, #53A4CF, #53A4CF 50%, #F16E57 50%, #F16E57);
}

#fairy{
    background-color:#FDB9E9;
}

#ghost{
    background-color:#7B62A3;
}

#normal{
    background-color:#A4ACAF;
}

#dark{
    background-color:#707070;
}

#psychic{
    background-color:#F366B9;
}

#steel{
    background-color:#9EB7B8;
}

#electric{
    background-color:#EED535;
}

#fighting{
    background-color:#D56723;
}

#ice{
    background-color:#51C4E7;
}

#rock{
    background-color:#A38C21;
}

#ground{
    background: -webkit-linear-gradient(bottom, #F7DE3F, #F7DE3F 50%, #AB9842 50%, #AB9842);
}










