<div class="container" *ngIf="pokeDefault">
<div *ngIf='pokeImg' class="pokemon">
    <p class="pokename">#{{pokeId}} {{pokeSpecieName}}</p>
    <div class="img-container">
    <div *ngIf='pokeImg.front_default'>
        <img [src]='pokeImg.front_default' class="front">
    </div>
    <div *ngIf='!pokeImg.front_default'>
        <div *ngIf='itemImg'>
            <img [src]='itemImg.default' class="front-null">
        </div>
    </div>
    </div>
    <div class="type-container">
        <ul *ngIf='pokeType' class="list-type">
        <div *ngFor='let types of pokeType'>
            <li class="type" id="{{types.type.name}}">
                {{types.type.name}}
            </li>
        </div>
        </ul>
    </div>
</div>
</div>