div.pokemon {
    width: 50px;
    margin: 10px;
    padding: 5px 3px;
}

div.type {
    padding: 2px;
}

.nullimg {
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/master-ball.png');
}